*.o
*~
*.gc??
lcov.info
coverage
gmon.out
callgrind.out.*
*.swp
.dirstamp
check-data-install.stamp
stamp-h?
*.log
*.tors
*.trs
*.tar.gz
*.deb
*.rpm
*.tmp
*.db

man/*.1
man/*.2
man/*.3
man/*.4
man/*.5
man/*.6
man/*.7
man/*.8
man/*.9

config.h

local
.commit

bolo
!redhat/init.d/bolo
dbolo
!redhat/init.d/dbolo
bolo2console
bolo2log
bolo2rrd
!redhat/init.d/bolo2rrd
bolo2pg
!redhat/init.d/bolo2pg
bolo2meta
!redhat/init.d/bolo2meta
bolo2sqlite
bolo_nsca
send_bolo
stat_bolo
bolospy

t/tmp
t/00-config
t/core
t/05-nsca
t/fresh
t/rollover
t/08-tick
t/data
t/match
t/events
t/13-send
t/faildb
t/vx-pdu

src/bits.h

.deps
config.log
config.status
Makefile.in
config.h.in
Makefile
configure
autom4te.cache
aclocal.m4
build/*
!build/*.m4

dev/

*.debhelper.log
*.debhelper
*.substvars
debian/files
debian/tmp/
debian/bolo-clients/
debian/bolo-clients-dbg/
debian/bolo-server/
debian/bolo-server-dbg/
debian/bolo-subscribers/
debian/bolo-subscribers-dbg/
