Source: bolo
Section: admin
Priority: optional
Maintainer: James Hunt <james@jameshunt.us>
Homepage: https://github.com/filefrog/bolo
Standards-Version: 3.9.3
Build-Depends: debhelper (>= 8),
               libctap,
               libctap-dev,
               libpcre3,
               libpcre3-dev,
               librrd-dev,
               librrd4,
               libvigor-dev,
               libvigor1,
               libzmq3-dev

Package: bolo-server
Architecture: any
Depends: libvigor1, ${misc:Depends}, ${shlibs:Depends}
Recommends: bolo-clients
Description: Monitoring System Server
 bolo is a lightweight and scalable monitoring system that can
 track samples, counters, states and configuration data.
 .
 This package provides the server implementation.

Package: bolo-server-dbg
Architecture: any
Section: debug
Priority: extra
Depends: bolo-server (= ${binary:Version}), ${misc:Depends}
Description: Debugging Symbols for Monitoring System Server
 bolo is a lightweight and scalable monitoring system that can
 track samples, counters, states and configuration data.
 .
 This package provides debugging symbols for bolo.

Package: bolo-clients
Architecture: any
Depends: libvigor1, ${misc:Depends}, ${shlibs:Depends}
Description: Monitoring System Clients
 bolo is a lightweight and scalable monitoring system that can
 track samples, counters, states and configuration data.
 .
 This package provides client programs for bolo.

Package: bolo-clients-dbg
Architecture: any
Section: debug
Priority: extra
Depends: bolo-clients (= ${binary:Version}), ${misc:Depends}
Description: Debugging Symbols for Monitoring System Clients
 bolo is a lightweight and scalable monitoring system that can
 track samples, counters, states and configuration data.
 .
 This package provides debugging symbols for bolo clients.

Package: bolo-subscribers
Architecture: any
Depends: libvigor1, ${misc:Depends}, ${shlibs:Depends}
Description: Monitoring System Clients
 bolo is a lightweight and scalable monitoring system that can
 track samples, counters, states and configuration data.
 .
 This package provides subscriber programs for bolo.

Package: bolo-subscribers-dbg
Architecture: any
Section: debug
Priority: extra
Depends: bolo-subscribers (= ${binary:Version}), ${misc:Depends}
Description: Debugging Symbols for Monitoring System Clients
 bolo is a lightweight and scalable monitoring system that can
 track samples, counters, states and configuration data.
 .
 This package provides debugging symbols for bolo subscribers.
