#!/usr/bin/make -f

CFLAGS=-Wall -g

.PHONY: override_dh_strip

override_dh_installinit:
	dh_installinit --name bolo
	dh_installinit --name bolo2pg
	dh_installinit --name bolo2rrd

override_dh_strip:
	dh_strip -pbolo-server      --dbg-package=bolo-server-dbg
	dh_strip -pbolo-clients     --dbg-package=bolo-clients-dbg
	dh_strip -pbolo-subscribers --dbg-package=bolo-subscribers-dbg

%:
	dh $@
